
*{
    padding: 0px;
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
    
}
h1{
    background-color: rgb(255, 177, 148);
}
.container {
    padding: 0px;
    margin: auto;
    width: 500px;
    height: 750px;
    background-color: coral;
    border: 5px dashed silver;
}
#player{
    background-color: rgb(243, 255, 20);
    border:4px;
    width: 40px;
    height: 40px;
    border-radius: 29px;
    position: absolute;
    transition: all 0.3s;
}
.pointer{
    background-color: rgb(124, 77, 224);
    height: 50px;
    margin-top: 30px;
    border-bottom: 0px;
    color: rgb(255, 178, 178);
    font-size: 20px;
    text-align: center;
    padding: 10px 0px;
}